VUE_APP_CT_PROJECT_KEY=*****
VUE_APP_CT_CLIENT_ID=*****
VUE_APP_CT_CLIENT_SECRET=*****
VUE_APP_CT_AUTH_HOST=https://auth.europe-west1.gcp.commercetools.com
VUE_APP_CT_API_HOST=https://api.europe-west1.gcp.commercetools.com
VUE_APP_CT_SCOPE=manage_my_profile:ecp:dach manage_my_shopping_lists:ecp:uk manage_cart_discounts:ecp:dach manage_cart_discounts:ecp:europe manage_my_shopping_lists:ecp:europe manage_shopping_lists:ecp:uk manage_my_shopping_lists:ecp:default manage_my_orders:ecp:uk manage_my_profile:ecp:uk manage_shopping_lists:ecp:europe manage_shopping_lists:ecp:dach manage_customers:ecp:uk manage_customers:ecp:europe manage_my_profile:ecp:europe view_audit_log:ecp manage_project:ecp manage_my_shopping_lists:ecp:dach manage_orders:ecp:uk manage_my_orders:ecp:europe manage_cart_discounts:ecp:default manage_my_profile:ecp:default manage_shopping_lists:ecp:default manage_cart_discounts:ecp:uk manage_my_orders:ecp:default manage_orders:ecp:default manage_orders:ecp:europe manage_my_orders:ecp:dach manage_customers:ecp:default manage_customers:ecp:dach manage_orders:ecp:dach
